@import "../reset.scss";
@import "../common.scss";

/* コンポネート名でラップすること */

.RightNavi {
  @keyframes show {
    0% {
      right: -250px;
      opacity: 0;
    }

    1% {
      right: -250px;
      opacity: 0;
    }

    100% {
      right: 0px;
      opacity: 1;
    }
  }

  @keyframes out {
    0% {
      right: 0px;
      opacity: 1;
    }

    1% {
      right: 0px;
      opacity: 1;
    }

    100% {
      right: -250px;
      opacity: 0;
    }
  }

  height: 100vh;
  width: 250px;
  background: $paper;
  position: absolute;
  z-index: 1;

  .naviHeader {
    padding: 15px 10px;
    border-bottom: 2px solid $charcoal;
    display: flex;
    color: $charcoal;

    h2 {
      font-size: $middleFont;
    }
  }
}

.RightNavi.open {
  right: 0px;
  animation: show 0.5s linear 0s;
  opacity: 1;
}

.RightNavi.close {
  right: -250px;
  animation: out 0.5s linear 0s;
  opacity: 0;
}

// TODO 削除
.hoge {
  color: #000;
  width: 90%;
  margin: 0 auto;
}