@import "./reset.scss";
@import "./common.scss";

.Attendance {
  margin: 1% auto;
  width: 98%;
  height: 100vh;
  border: 1px solid $charcoal;
  box-shadow: 1px 2px 3px $charcoal;
  border-radius: 20px;
  background: $paper;
}