@import "./reset.scss";
@import "./common.scss";

/* コンポネート名でラップすること */
.Header {
  height: 55px;
  background-color: $charcoal;
  color: $paper;

  .contentsWrapper {
    display: flex;
  }

  .leftContents {
    width: 50%;

  }

  .rightContents {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    .rightContentsDetail {
      height: 100vh;
      min-width: 200px;
      background: $paper;
      position: absolute;
      z-index: 1;
      transition: all 0.5s ease;
      right: -200px;

      .rightContentsDetailHeader {
        padding: 15px 10px;
        border-bottom: 2px solid $charcoal;
        display: flex;
        color: $charcoal;

        h2 {
          font-size: $middleFont;
        }

        .closeButton {
          font-size: 30px;
          color: $charcoal;
          margin-left: auto;
        }

        .closeButton>span {
          cursor: pointer;
          display: block;
          margin-top: -7px;
        }
      }
    }

    .rightContentsDetail.open {
      right: 0px;
    }

    .rightContentsItems {
      margin-right: 20px;
    }

    .rightContentsItems>svg {
      width: 25px;
      height: 25px;
      position: relative;
      top: 15px;
      cursor: pointer;

      &:hover>path {
        color: $palegold;
      }
    }

    .rightContentsItems>svg>path {
      color: $paper;
      transition: all 0.5s ease;
    }

    .profile {
      display: block;
      margin: 12px 0 0 auto;
      cursor: pointer;
    }
  }
}